html {
  font-size: 16px;
  background-color: #EEE;
}
html,
body,
p {
  margin: 0;
  padding: 0;
}
#cover {
  width: 100%;
}
#cover #change-menu-cover {
  width: 87.5rem;
  height: 6.25rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
#cover #change-menu-cover #change-menus {
  width: 100%;
  height: 3.75rem;
  display: flex;
  align-items: center;
}
#cover #change-menu-cover #change-menus .change-menu-item {
  width: 6.25rem;
  height: 2.5rem;
  background-color: #CCC;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 0.875rem;
}
#cover #change-menu-cover #change-menus .active {
  background-color: #FFF;
}
#cover #change-menu-cover #change-menus #change-menu1 {
  border-radius: 0.625rem 0 0 0.625rem;
}
#cover #change-menu-cover #change-menus #change-menu2 {
  border-radius: 0 0.625rem 0.625rem 0;
}
#cover .content-boxs {
  width: 87.5rem;
  margin: 0 auto;
}
#cover .content-boxs .content-box-item {
  width: 100%;
  display: none;
}
#cover .content-boxs .active {
  display: block;
}
#cover .content-boxs .content-box-item-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#cover .content-boxs .content-box-item-container .container-item {
  width: 49%;
}
#cover .content-boxs .content-box-item-container .container-item .bottom-btn-box {
  width: 100%;
  padding-top: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
#cover .content-boxs .content-box-item-container .container-item .bottom-btn-box .left-box #upload-image-btn,
#cover .content-boxs .content-box-item-container .container-item .bottom-btn-box .left-box #create-video-btn,
#cover .content-boxs .content-box-item-container .container-item .bottom-btn-box .left-box #download-video-btn,
#cover .content-boxs .content-box-item-container .container-item .bottom-btn-box .left-box #upload-video-btn,
#cover .content-boxs .content-box-item-container .container-item .bottom-btn-box .left-box #create-image-btn,
#cover .content-boxs .content-box-item-container .container-item .bottom-btn-box .left-box #download-image-btn,
#cover .content-boxs .content-box-item-container .container-item .bottom-btn-box .left-box #loop-video-btn {
  width: 6.25rem;
  height: 1.875rem;
  background-color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 0.875rem;
  border-radius: 0.625rem;
}
#cover .content-boxs .content-box-item-container .container-item .bottom-btn-box .left-box #create-video-btn,
#cover .content-boxs .content-box-item-container .container-item .bottom-btn-box .left-box #create-image-btn,
#cover .content-boxs .content-box-item-container .container-item .bottom-btn-box .left-box #loop-video-btn {
  margin-right: 1.25rem;
}
#cover .content-boxs .content-box-item-container .container-item .bottom-btn-box .btns {
  display: flex;
  align-items: center;
}
#cover .content-boxs .content-box-item-container .container-item .bottom-btn-box .right-box input {
  width: 6.25rem;
  height: 1.875rem;
  outline: none;
  border: none;
  border-radius: 0.625rem;
  text-indent: 1.25rem;
}
#cover .content-boxs .content-box-item-container .container-item .bottom-btn-box .right-box label {
  font-size: 0.875rem;
}
#cover .content-boxs .content-box-item-container .container-item-title {
  font-size: 0.875rem;
  font-weight: bold;
}
#cover .content-boxs .content-box-item-container .container-item-box {
  width: 100%;
  height: 31.25rem;
  border-radius: 0.625rem;
  margin-top: 1.25rem;
  background-color: #fff;
}
#cover .content-boxs .content-box-item-container .container-item-box .position-item-cover {
  width: 100%;
  height: 100%;
  display: none;
}
#cover .content-boxs .content-box-item-container .container-item-box .position-item-cover .position-item {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#cover .content-boxs .content-box-item-container .container-item-box .position-item-cover .position-item .position-item-image {
  width: 8rem;
  height: 8rem;
  margin: auto;
}
#cover .content-boxs .content-box-item-container .container-item-box .position-item-cover .position-item label {
  font-size: 0.875rem;
  font-weight: bold;
  text-align: center;
  display: block;
}
#cover .content-boxs .content-box-item-container .container-item-box .active {
  display: block;
}
#cover .content-boxs .content-box-item-container .container-item-box .contaier-create-item-box {
  width: 100%;
  height: 100%;
  display: none;
}
#cover .content-boxs .content-box-item-container .container-item-box .contaier-create-item-box #video-player,
#cover .content-boxs .content-box-item-container .container-item-box .contaier-create-item-box #image_preview,
#cover .content-boxs .content-box-item-container .container-item-box .contaier-create-item-box #video_result,
#cover .content-boxs .content-box-item-container .container-item-box .contaier-create-item-box #image-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#cover .content-boxs .content-box-item-container .container-item-box .contaier-create-item-box #image_preview img {
  max-height: 100%;
  max-width: 100%;
}
#cover .content-boxs .content-box-item-container .container-item-box .contaier-create-item-box #image-container img {
  max-height: 100%;
  max-width: 100%;
}
#cover .content-boxs .content-box-item-container .container-item-box .contaier-create-item-box #video-player video {
  max-height: 100%;
  max-width: 100%;
}
#cover .content-boxs .content-box-item-container .container-item-box .contaier-create-item-box #video_result video {
  max-height: 100%;
  max-width: 100%;
}
#cover .content-boxs .content-box-item-container .container-item-box .active {
  display: block;
}
